{% extends "_template.html" %}
{% block title %}Training Wheels{% endblock %}
{% block head %}
  <h1>TRAINING WHEELS</h1>
  <p>Google App Engine for the regular Joe</p>
{% endblock %}
{% block navigation %}
<li><a href="./index.mango" id="main">MAIN PAGE</a></li>
<li><a href="./stage0.mango" id="nav0">STAGE 0</a></li>
<li><a href="./stage1.mango" id="nav1">STAGE 1</a></li>
<li><a href="./stage2.mango" id="nav2">STAGE 2</a></li>
<li><a href="./stage3.mango" id="nav3">STAGE 3</a></li>
<li><a href="./stage4.mango" id="nav4">STAGE 4</a></li>
<li><a href="./downloads.mango" id="navdown">DOWNLOADS</a></li>
{% endblock %}
{% block content %}
{{ content }}
{% endblock %}

{% block copyright %}
Training Wheels brought to you by <a href="http://www.appenginefan.com">appenginefan.com</a>.<br/>
This free template was downloaded from 
<a href="http://www.freewebsitetemplates.com/download.php?template=transport">freewebsitetemplates.com</a>
{% endblock %}
